<div class="container">
  <mat-card *ngIf="userForm">
    <mat-card-title>Update User: {{currentUser.first_name}} {{currentUser.last_name}}</mat-card-title>
    <mat-card-content class="main-container">
      <form class="edit-form" [formGroup]="userForm">
        <div class="edit-form-content left">

          <mat-form-field class="edit-form-full-width">
            <mat-label>User name</mat-label>
            <input matInput formControlName="first_name">
            <mat-error *ngIf="userForm.controls.first_name.hasError('minLength')">
              {{validationMassege.first_name.minlength}}
            </mat-error>
            <mat-error *ngIf="userForm.controls.first_name.hasError('required')">
              {{validationMassege.first_name.required}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="edit-form-full-width">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="last_name">
            <mat-error *ngIf="userForm.controls.last_name.hasError('minLength')">
              {{validationMassege.last_name.minlength}}
            </mat-error>
            <mat-error *ngIf="userForm.controls.last_name.hasError('required')">
              {{validationMassege.last_name.required}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="edit-form-full-width">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let gender of genderUser" [value]="gender">
                {{gender| titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="edit-form-full-width">
            <mat-label>Dob</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="edit-form-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="userForm.controls.email.hasError('required')">
              {{validationMassege.email.required}}
            </mat-error>
            <mat-error *ngIf="userForm.controls.email.hasError('pattern')">
              {{validationMassege.email.pattern}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="edit-form-content right">

          <mat-form-field class="edit-form-full-width">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
            <mat-error *ngIf="userForm.controls.phone.hasError('required')">
              {{validationMassege.phone.required}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="edit-form-full-width">
            <mat-label>Web site</mat-label>
            <input matInput formControlName="website">
          </mat-form-field>
          <mat-form-field class="edit-form-full-width">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
            <mat-error *ngIf="userForm.controls.address.hasError('required')">
              {{validationMassege.address.required}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="edit-form-full-width">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of statusUser" [value]="status">
                {{status| titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </form>

    </mat-card-content>
    <mat-card-actions class="btn-edit-user">
      <button mat-stroked-button  color="primary" (click)="back()">Back</button>
      <button mat-stroked-button  color="primary" (click)="saveUserEdit()">Save</button>
    </mat-card-actions>

  </mat-card>
  <mat-spinner *ngIf="!userForm || loading" class="spinner"></mat-spinner>
</div>
