<div *ngIf="userPostsArray ">
  <mat-expansion-panel *ngFor="let post of userPostsArray.result">
    <mat-expansion-panel-header>
      <mat-panel-title [matMenuTriggerFor]="appMenu" (click)="getUser($event, post.user_id)">
        User id: {{ post.user_id }}
        <mat-menu #appMenu="matMenu">
          <div *ngIf="currentUserPost">
            <button mat-menu-item>FIO: {{currentUserPost.first_name}} {{currentUserPost.last_name}}</button>
            <button mat-menu-item>Email: {{currentUserPost.email}}</button>
          </div>

        </mat-menu>
      </mat-panel-title>
      <mat-panel-description>
        {{ post.title }}
      </mat-panel-description>
      <button mat-stroked-button (click)="deletePost(post.id,$event)">
        <i class="material-icons">delete</i>
      </button>
      <button class="btn-edit" mat-stroked-button (click)="editPost(post.id, $event)"><i
          class="material-icons">edit</i></button>
    </mat-expansion-panel-header>
    <mat-list role="list">
      {{post.body}}
    </mat-list>
  </mat-expansion-panel>
</div>
<mat-spinner *ngIf="!userPostsArray || loading" class="spinner"></mat-spinner>
<mat-toolbar class="footer-pagination">
  <mat-paginator class="pagination" *ngIf="userPostsArray" [length]="userPostsArray._meta.totalCount"
    [pageSize]="userPostsArray._meta.perPage" [showFirstLastButtons]="true" (page)="pageEvent = onChangePage($event)">
  </mat-paginator>
</mat-toolbar>
