.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.header {
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: flex-end;
}

.sidenav-container {
  width: 100%;

  .sidenav {
    width: 20%;
  }

  .main-container {
    // width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-top: 5px;

    .accordion {
      width: 100%;
    }
  }

}

