<mat-toolbar class="header">Hello {{ currentUser.userName }} </mat-toolbar>
<mat-card class="card">

  <button *ngIf = " url ==='/users'" mat-stroked-button color="primary" (click)="newUser()">New User</button>
  <button *ngIf = " url ==='/users/posts'" mat-stroked-button color="primary" (click)="newPost()">New Post</button>

</mat-card>
<mat-card-content>
  <mat-toolbar class="example-header">
    <button mat-button (click)="sidenav.toggle()">Side Menu</button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">

      <mat-list>
        <mat-list-item routerLink="/users">Users list</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="posts">Posts</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>

    </mat-sidenav>
    <mat-sidenav-content class="main-container">
      <mat-accordion class="accordion">

        <router-outlet></router-outlet>

      </mat-accordion>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card-content>
